<div class="preferences" ng-controller="preferencesBwsUrlController as prefBwsUrl">
  <form name="settingsBwsUrlForm" ng-submit="prefBwsUrl.save()">
    <div class="row">
      <div class="large-12 columns">
        <label translate>BWS url</label>
        <input type="text" id="bwsurl" type="text" name="bwsurl" ng-model="prefBwsUrl.bwsurl">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <input type="submit" class="button expand black radius" value="{{'Save'|translate}}">
      </div>
    </div>
  </form>
</div>
<div class="extra-margin-bottom"></div>
