<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Delete Wallet</ion-nav-title>
    <ion-nav-buttons side="primary">
     <button class="button" href ui-sref="wallet.preferencesAdvanced">
       <i class="ion-arrow-left-c"></i> Back
     </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" ng-controller="preferencesDeleteWalletController" cache-view="false">
    <div translate>Warning!</div>
    <div translate>Permanently delete this wallet. THIS ACTION CANNOT BE REVERSED</div>
    <button class="button button-block button-stable" ng-click="showDeletePopup()" translate>Delete wallet</button>
    <div class="right" ng-style="{'color':index.backgroundColor}">{{walletName}}</div>
  </ion-content>
</ion-view>
