<div class="preferences" ng-controller="preferencesController as preferences">
	<div class="m10 line-b">
		<a  ng-click="$root.go('backup')">
			<i class="icon-arrow-right3 size-18 right m5t"></i>  
			<span translate>Backup wallet</span>
		</a>
	</div>


    <div class="row m20t">
      <div class="large-6 medium-6 columns">
        <label translate>Wallet Unit</label>
        <div class="m10">
            <a  ng-click="$root.go('preferencesUnit')">
              <i class="icon-arrow-right3 size-18 right m5t"></i>
            </a>
            {{preferences.unitName}}
        </div>

      </div>
      <div class="large-6 medium-6 columns">
        <label translate>Alternative Currency</label>
         <div class="m10">
            <a  ng-click="$root.go('preferencesAltCurrency')">
              <i class="icon-arrow-right3 size-18 right m5t"></i>
            </a>
            {{preferences.selectedAlternative.name}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label translate>BWS url</label>
        <div class="m10">
            <a  ng-click="$root.go('preferencesBwsUrl')">
              <i class="icon-arrow-right3 size-18 right m5t"></i>
            </a>
            {{preferences.bwsurl}}
        </div>
      </div>
    </div>



  <div class="row">
    <div class="columns text-center">
      <h3 class="text-warning"> <strong translate> Warning! </strong></h3>
      <div class="box-notification" ng-show="preferences.error">
        <div class="box-icon error">
          <i class="fi-x size-24"></i>
        </div>
        <span class="text-warning size-14">
          {{preferences.error|translate}}
        </span>
      </div>
      <p translate class="size-12 text-gray">Permanently delete this wallet. WARNING: this action cannot be reversed.</p>
      <button class="button expand warning" ng-click="preferences.deleteWallet()">
        Delete wallet
      </button>
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
