<div class="preferences" ng-controller="preferencesController as preferences">
	<div class="m10 line-b">
		<a  ng-click="$root.go('backup')">
			<i class="icon-arrow-right3 size-18 right m5t"></i>  
			<span translate>Backup wallet</span>
		</a>
	</div>

  <form name="settingsForm" ng-submit="preferences.save()">
    <div class="row m20t">
      <div class="large-6 medium-6 columns">
        <label translate>Wallet Unit</label>
        <select class="form-control"
          ng-model="preferences.selectedUnit"
          ng-options="o.name for o in preferences.unitOpts">
        </select>
      </div>
      <div class="large-6 medium-6 columns">
        <label translate>Alternative Currency</label>
        <select class="form-control"
          ng-model="preferences.selectedAlternative"
          ng-options="alternative.name for alternative in preferences.alternativeOpts">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label translate>BWS url</label>
        <input type="text" id="bwsurl" type="text" name="bwsurl" ng-model="preferences.bwsurl">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <input type="submit" class="button expand black radius" value="{{'Save'|translate}}">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="columns text-center">
      <h3 class="text-warning"> <strong translate> Warning! </strong></h3>
      <div class="box-notification" ng-show="preferences.error">
        <div class="box-icon error">
          <i class="fi-x size-24"></i>
        </div>
        <span class="text-warning size-14">
          {{preferences.error|translate}}
        </span>
      </div>
      <p translate class="size-12 text-gray">Permanently delete this wallet. WARNING: this action cannot be reversed.</p>
      <button class="button expand warning" ng-click="preferences.deleteWallet()">
        Delete wallet
      </button>
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
