<div class="preferences" ng-controller="preferencesController as preferences">

  <ul class="no-bullet m0 size-14">
    <li class="line-b p20" ng-click="$root.go('preferencesUnit')">
      <span translate>Wallet Unit</span>
      <span class="right text-gray">
        <i class="icon-arrow-right3 size-24 right"></i>
        {{preferences.unitName}}
      </span>      
    </li>
      
    <li class="line-b p20" ng-click="$root.go('preferencesAltCurrency')">
      <span translate>Alternative Currency</span>
      <span class="right text-gray">
        <i class="icon-arrow-right3 size-24 right"></i>
        {{preferences.selectedAlternative.name}}
      </span>
    </li>
    
    <li class="line-b p20" ng-click="$root.go('preferencesBwsUrl')">
      <span translate>Bitcore Wallet Service url</span>
      <span class="text-gray db">
          <i class="icon-arrow-right3 size-24 right"></i>
          {{preferences.bwsurl}}
        </span>
    </li>
    <h4 class="title m0" translate>Options</h4>
    <li class="line-b p20" ng-click="$root.go('backup')">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>  
      <span translate>Backup wallet</span>
    </li>
    <li class="line-b p20" ng-click="$root.go('delete')">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>  
      <span translate>Remove wallet</span>
    </li>
  </ul>

</div>
<div class="extra-margin-bottom"></div>
