<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()"><i class="icon-arrow-left3 icon-back"></i>
      <span class="text-back" translate>Back</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" translate>
      QR-Scanner
    </h1>
  </section>
</nav>
<div class="p60t text-center" ng-init="init()">
  <canvas id="qr-canvas" width="200" height="150"></canvas>
  <video id="qrcode-scanner-video" width="300" height="225"></video>
</div>
