<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()"><i class="icon-arrow-left3 icon-back"></i>
      <span class="text-back" translate>Back</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis"   style="color:{{color}}" translate>
      Transaction proposal
    </h1>
  </section>
</nav>
<div class="p45t" ng-init="updateCopayerList()">
  <h4 class="title m0" translate> Information </h4>
  <ul class="no-bullet size-14 m0">
    <li class="line-b p10">
      <span class="text-gray">To:</span>
      <span class="right">{{_cache.toAddress}}</span>
    </li>
    <li class="line-b p10">
      <span class="text-gray">Amount:</span>
      <span class="right">{{_cache.amountStr}} 
        <span class="label gray radius">{{_cache.alternativeAmountStr}}</span>
      </span>
    </li>
    <li class="line-b p10">
      <span class="text-gray">Time:</span>
      <span class="right">
        <time>{{ (_cache.ts || _cache.createdOn ) * 1000 | amTimeAgo}}</time>
      </span>
    </li>
    <li class="line-b p10 oh">
      <span class="text-gray">Create by:</span>
      <span class="right">{{_cache.creatorName}}</span>
    </li>
    <li class="line-b p10 oh">
      <span class="text-gray">Note:</span>
      <span class="right">{{_cache.message}}</span>
    </li>
  </ul>
  <div ng-if="_cache.paypro">
    <h4 class="title m0">PAYMENT DETAILS</h4>
    <ul class="no-bullet size-14 m0">
      <li class="line-b p10">
        <span class="text-gray">To:</span>
        <span class="right">
          <span> 
            <span ng-show="_cache.merchant.pr.ca"><i class="fi-lock"></i> {{_cache.paypro.domain}}</span>
            <span ng-show="!_cache.merchant.pr.ca"><i class="fi-unlock"></i> {{_cache.paypro.domain}}</span>
          </span>
          <contact address="{{_cache.toAddress}}" ng-hide="_cache.merchant"></contact>
        </span>
      </li>
      <li class="line-b p10">
        <span class="text-gray">Expires:</span>
        <span class="right">
          <time>{{_cache.paypro.expirationDate | amTimeAgo }}</time>
        </span>
      </li>
      <li class="line-b p10">
        <span class="text-gray">Merchant Message:</span>
        <span class="db">{{_cache.paypro.pr.pd.memo}}</span>
      </li>
    </ul>
  </div>

  <div ng-if="tx.actions[0] && !txRejected && !txBroadcasted">
    <h4 class="title m0">Signatures:</h4>
    <ul class="no-bullet size-14 m0">
      <li class="line-b p10 text-gray" ng-repeat="ac in tx.actions">
        <i class="icon-contact size-24"></i>
        <span>{{ac.copayerName}}</span>
        <span class="right">
          <i ng-if="ac.type == 'reject'" class="fi-x icon-sign x db"></i>
          <i ng-if="ac.type == 'accept'" class="fi-check icon-sign check db"></i>
          <i ng-if="!ac.type" class="fi-loop"></i>
        </span>
      </li>
    </ul>
  </div>
  <div class="box-notification" ng-show="error">
    <div class="box-icon error">
      <i class="fi-x size-24"></i>
    </div>
    <span class="text-warning size-14">
      {{error|translate}}
    </span>
  </div>

  <div class="row m20t" 
    ng-init="hideSign = false; hideReject = false"
    ng-show="tx.pendingForUs && !txBroadcasted && !txRejected">
    <div class="large-5 medium-5 small-6 columns">
      <button class="button gray m0 expand" ng-click="hideTxInfo = true; hideSign = true; reject(_cache);" 
        ng-disabled="loading" ng-show="!hideReject">
        <i class="fi-x icon-sign x"></i>  
        <span translate>Reject</span>
      </button>
    </div>
    <div class="large-5 medium-5 small-6 columns text-right">
      <button class="button primary m0 expand" ng-click="hideTxInfo = true; hideReject = true; sign(_cache)"  style="background-color:{{color}}"  
        ng-disabled="loading" ng-show="!hideSign">
        <i class="fi-check icon-sign check"></i>  
        <span translate>Sign</span>
      </button>
    </div>
  </div>

  <div ng-show="!hideTxInfo">
    <div class="row collapse m10t" 
      ng-show="tx.status=='accepted' && !txBroadcasted && !txRejected">
      <button class="primary expand"
        ng-click="broadcast(_cache)"
        ng-disabled="loading"> <i class="fi-upload-cloud"></i>
        <span translate>Broadcast Transaction</span>
      </button>
    </div>
    <div class="text-success m10t oh" 
      ng-show="txBroadcasted">
      <span translate>Transaction sent!</span>
    </div>
    <div class="text-center text-warning"
      ng-show="txRejected" translate>
      Transaction finally rejected
    </div>
  </div>
</div>
<div class="extra-margin-bottom"></div>
