<div  ng-controller="passwordController as pass" class="passModal">
  <div class="columns m20t">
    <div class="dr-notification-close-btn" ng-click="pass.close(index.askPassword.callback)">
      <i class="fi-x"></i>
    </div>
  
    <span class="text-warning size-14" ng-show="pass.error">
      <i class="fi-alert size-24"></i>
      {{pass.error|translate}}
    </span>

    <label for="password" ng-if="index.askPassword.isSetup">
      <span class="size-14" ng-show="!pass.isVerification" translate>Set up a Password</span>
      <span class="size-14" ng-show="pass.isVerification" translate>Repeat Password</span>
 
    </label>
    <label for="password" ng-if="!index.askPassword.isSetup">
      <span class="size-14" translate>Enter your password</span>
    </label>

    <div class="input">
      <input type="password" placeholder="{{'Your password'|translate}}"
      name="password" ng-model="pass.password" style="font-size:24px">
    </div>

    <div class="text-warning size-14" ng-show="!pass.error && index.askPassword.isSetup">
      <i class="fi-alert size-12"></i>
      <span translate> Password cannot be recovered. Be sure to write it down</span>
    </div>


    <button class="black radius expand" ng-click="pass.set(index.askPassword.isSetup, index.askPassword.callback)" ng-disabled="!pass.password"
      <span translate>SET</span></button>
 </div>
 </div>
