
<div class="passModalMask">
 </div>

<div  ng-controller="passwordController as pass" class="passModal" 
          ng-class="{'animated slideInDown':index.askPassword}"
>
  <div class="columns m20t">
      <label for="password" ng-if="index.askPassword.isSetup">
      <span class="size-14" ng-show="!pass.isVerification" translate>Set up a Password</span>
      <span class="size-14" ng-show="pass.isVerification" translate>Repeat Password</span>
 
    </label>
    <label for="password" ng-if="!index.askPassword.isSetup">
      <span class="size-14" translate>Enter your password</span>
    </label>

    <div class="input m20t ">
      <input type="password" placeholder="{{'Your password'|translate}}"
      name="password" ng-model="pass.password" style="font-size:24px">
    </div>
 
 
    <button class="radius m20t right" ng-click="pass.set(index.askPassword.isSetup, index.askPassword.callback)" ng-disabled="!pass.password"   style="background-color:{{index.backgroundColor}}" >
      <span translate ng-if="index.askPassword.isSetup" translate>SET</span>
      <span translate ng-if="!index.askPassword.isSetup" translate>ENTER</span>
      
    </button>
   
    <button class="radius m20t  outline dark-gray"  ng-click="pass.close(index.askPassword.callback)" translate>
      CANCEL
    </button>

    <div class="text-warning size-14 m10" ng-show="index.askPassword.isSetup">
      <i class="fi-alert size-12"></i>
      <span translate ng-show="!pass.error"> Password cannot be recovered. Be sure to write it down</span>

      <span ng-show="pass.error">{{pass.error|translate}}</span>
    </div>
  </div>
 </div>
